img {
    width: 250px;
    height: auto;
}

p  {
    text-align: center;
    font-family: monospace;
}

h1 {
    text-align: center;
    font-family: monospace;
}

h2 {
    text-align: center;
    font-family: monospace;
}

h3 {
   text-align: center;
   font-family: monospace; 
   font-size: 1.5em;
}

nav {
    text-align: center;
    font-family: monospace;
}

.style {
    text-decoration: none;
}


header {
    background: #AEC6CF;
}

body {
    background-color: #FFD1DC;
}

nav a {
    color: black;
    font-size: 1.2em;
}

nav a.selected, nav a:hover {
    color: #FFD1DC;
}

section {
    text-align: center;
}

@media screen and (min-width: 480px) {
    #primary {
        width: 50%;
        float: left;
    }
    #secondary {
        width: 40%;
        float: right;
    }
}
