/***********************************
HEADER
***********************************/

nav a {
    text-decoration: none;
    font-family: Arial;
    font-weight: 600;
    color: black;
}

header {
    text-align: center;
    font-family: Helvetica;
}


.tilt {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
.tilt:hover {
  -webkit-transform: rotate(10deg);
     -moz-transform: rotate(10deg);
       -o-transform: rotate(10deg);
      -ms-transform: rotate(10deg);
          transform: rotate(10deg);
          color: cadetblue;
}

.text {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
.text:hover {
  -webkit-transform: rotate(-10deg);
     -moz-transform: rotate(-10deg);
       -o-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
          color: #b3ee3a;
}

.textt {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
.textt:hover {
  -webkit-transform: rotate(-10deg);
     -moz-transform: rotate(-10deg);
       -o-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
          color: mediumorchid;
}

/***********************************
SECTION
***********************************/

section {
    text-align: center;
    font-family: Arial;
}

p a {
    color: black;
}

ul.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul.img-list li {
  display: inline-block;
  height: 355px;
  margin: 0 1em 1em 0;
  position: relative;
  width: 750px;
}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 355px;
  left: 0;
  position: absolute;
  top: 0;
  width: 750px;
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 355px;
  left: 0;
  position: absolute;
  top: 0;
  width: 750px;
  opacity: 0;
}

ul.img-list li:hover span.text-content {
  opacity: 1;
}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 355px;
  left: 0;
  position: absolute;
  top: 0;
  width: 750px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

.blue:hover {
    color: cadetblue;
}

.green:hover {
    color: #b3ee3a;
}

.purple:hover {
    color: mediumorchid;
}
.red:hover {
    color: red;
}

/***********************************
FOOTER
***********************************/
footer {
    text-align: center;
    font-family: Helvetica;
}

img {
    width: 35px;
    height: auto;
}